h1 small {
    font-weight: 100;
}

h2.filters {
    margin-top:0;
    font-weight:100;
}

.header-logo {
    height: 1.5em;
    margin-right: 1em;
}

.map-frame {
    width: 100%;
    height: 500px;
    border: none;
}
